body{
  margin:0;
}

p{
  text-align:center;
}

.logo{
  margin-bottom:0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align:center;
}
.barcodeimg{
  display:block;
  margin-left:auto;
  margin-right: auto;
  padding:10px;
}

.logodesc{
  margin-top:0;
  text-align:center;
  font-family:'Nunito', sans-serif;
  padding-left: 1.75em;
  margin-top: -10px;
}

#vininput{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#barresults{
  display:block;
  width:270px;
  margin-left: auto;
  margin-right:auto;
}

#cheersbutton{
  display:block;
  padding:10px;
  margin-top:10px;
  width: 200px;
  font-size:large;
  margin-left:auto;
  margin-right:auto;
}

#instruction{
  margin-bottom:0px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  display:block;
}

.imglogo{
  display:flex;
  flex-direction: row;
}
.bumpers{
  flex-grow: 2;
}
.center-block{
  flex-grow:1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bartenderwords{
  width: 20%;
}
#bartenderbeer{
  width:8%;
}
.linediv{
  background-color: black;
  height:1px;
  width:300px;
  margin:auto;
  margin-bottom:40px;
}

#barcodes{
    text-align:center;
}

.buttonsDiv{
    text-align:center;
}

